header nav {
	padding: 20px 5vw;
	background: #FFF;
}

header nav .container {
	display: flex;
	justify-content: space-between;
	max-width: 1170px;
	min-height: 50px;
	margin: auto;
}

header nav .nav-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
}

header nav .brand {
	line-height: 0;
}

header nav .nav-toggle {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 10px;
	background-color: white;
	border: 1px solid transparent;
	border-color: #DDD;
	border-radius: 4px;
	transition: background-color ease 0.3s;
}

header nav .nav-toggle:hover {
	transition: background-color ease 0.3s;
	background-color: #DDD;
}

header nav .sr-only {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

header nav .nav-toggle > .icon-bar {
	display: block;
	background-color: #666;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}

header nav .nav-toggle > .icon-bar + .icon-bar {
	margin-top: 4px;
}

#navigation {
	display: none;
}

#navigation ul {
	display: flex;
	align-items: center;
}

#navigation ul li {
	padding: 10px 20px;
}

header .hero {
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to left, #8b8, #575);
	color: #FFF; 
}

header h1 {
	padding: 0 5vw;
}

@media (min-width: 1600px) {
	header nav {
		padding: 20px 0;
	}

	header h1 {
		padding: 0;
	}
}

@media (min-width: 768px) {
	header nav .nav-toggle {
		display: none;
	}
	#navigation {
		display: flex;
	}
}
