[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
